.gradle
build/
db/
**/src/main/**/build/
**/src/main/resources/static
**/src/main/resources/templates
docker-compose-dev.yml
HELP.md
**/src/main/**/out/
**/src/test/**
src/main/resources/properties/.env
/docker-compose.yml
/docker-compose-dev.yml
nginx

src/main/resources/keystore.p12
src/main/resources/keystore.p12.base64
src/main/resources/application.properties

### 환경변수 ###
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
**/src/main/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### mac
.DS_Store